Repository albelium/devtopia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @albelium/devtopia-maintainers, @albelium-bot[bot], @tatsutakein

:+1: prisma:studioコマンド追加
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

:+1: @prisma/client追加
  apps/backend/package.json
  pnpm-lock.yaml
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

:tada: prisma追加
  apps/backend/.env.sample
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  pnpm-lock.yaml
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

:art: icon変更
  .idea/icon.svg
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

:green_heart: ワークフローにキャッシュのステップを追加
  .github/workflows/checks.yml
Owners: @tatsutakein, @albelium-bot[bot]

:green_heart: Dependabot の構成ファイルから reviewers を削除
  .github/dependabot.yml
Owners: @tatsutakein, @albelium-bot[bot]

:books: READMEの修正
  README.md
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

:green_heart: リリースノート用の構成ファイルを追加
  .github/release.yml
Owners: @tatsutakein, @albelium-bot[bot]

:books: ライセンスを追加
  LICENSE
  README.md
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

:books: Contributors を追加
  README.md
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

# ==================== Format ==================== :tada: PostgreSQLのdocker追加
  apps/backend/package.json
  compose.yaml
  postgresql/postgresql.conf
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

📚 docs: Gitのコミットメッセージテンプレート修正
  tools/git/message
Owners: @tatsutakein

🗑 revert: package.jsonの変更を元に戻す
  apps/backend/package.json
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

👍 update: PostgreSQL を MySQL に変更
  compose.yaml
  mysql/my.cnf
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

👍 update: volumes 追加
  compose.yaml
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

👍 update: バージョン修正
  compose.yaml
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

🗑 remove: postgresql.conf を削除
  postgresql/postgresql.conf
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

👍 update: container_name悪女
  compose.yaml
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

perf: 必要なライブラリ追加
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

perf: jsの拡張子削除
  apps/backend/src/graphql/schema/builder.ts
  apps/backend/src/graphql/schema/index.ts
  apps/backend/src/graphql/schema/object/user.ts
  apps/backend/src/graphql/schema/query/user.ts
  apps/backend/src/graphql/schema/scalar.ts
  apps/backend/src/graphql/server.ts
  apps/backend/src/repository/index.ts
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

feat: ERD.md追加
  apps/backend/prisma/ERD.md
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

chore: ダーミーデータの不要なファイル削除
  apps/backend/src/graphql/dummy-data.ts
  apps/backend/src/graphql/schema/index.ts
  apps/backend/src/graphql/schema/object/comment.ts
  apps/backend/src/graphql/schema/object/post.ts
  apps/backend/src/graphql/schema/object/user.ts
  apps/backend/src/graphql/schema/query/post.ts
  apps/backend/src/graphql/schema/query/user.ts
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

perf: ignore更新
  .gitignore
  .prettierignore
  apps/frontend/.gitignore
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

feat: auth-repositoryをauth0に対応
  apps/backend/src/graphql/context.ts
  apps/backend/src/repository/auth-repository.ts
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

feat: env-var追加
  apps/backend/src/index.ts
  apps/backend/src/lib/env-var.ts
  apps/backend/src/lib/index.ts
  apps/backend/src/lib/prisma.ts
  apps/backend/src/utils/index.ts
  apps/backend/src/utils/type-check.test.ts
  apps/backend/src/utils/type-check.ts
  packages/eslint-config/backend.js
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

chore: 環境変数追加
  apps/backend/.env.sample
  apps/backend/src/types/global.d.ts
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

perf: 型変換
  apps/backend/src/lib/env-var.ts
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

perf: schema.graphqlを管理から除外
  graphql/generated/schema.graphql
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

perf: pnpm-lock更新
  pnpm-lock.yaml
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

docs: repobeats を追加
  README.md
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

docs: バッヂを追加
  README.md
Owners: @albelium/devtopia-maintainers, @albelium-bot[bot]

.github/CODEOWNERS:

# Team 名で指定。 すべてのファイルに devtopia-maintainers チームの全員が権限を持つ
* @albelium/devtopia-maintainers @albelium-bot[bot]

# GitHub や Tools 関連は @tatsutakein がオーナとなる
/.github/ @tatsutakein @albelium-bot[bot]
/scripts/ @tatsutakein
/tools/ @tatsutakein
