Repository albelium/devtopia, pull requests merged in 2024-01, with the labels that each got.

#20 favicon関連設定
  .github/CODEOWNERS
  .github/labeler.yml
  .idea/icon.svg
  apps/backend/src/index.ts
  apps/frontend/app/root.tsx
  apps/frontend/public/android-chrome-192x192.png
  apps/frontend/public/android-chrome-512x512.png
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/browserconfig.xml
  apps/frontend/public/favicon-16x16.png
  apps/frontend/public/favicon-32x32.png
  apps/frontend/public/favicon.ico
  apps/frontend/public/mstile-144x144.png
  apps/frontend/public/mstile-150x150.png
  apps/frontend/public/mstile-310x150.png
  apps/frontend/public/mstile-310x310.png
  apps/frontend/public/mstile-70x70.png
  apps/frontend/public/safari-pinned-tab.svg
  apps/frontend/public/site.webmanifest
Labels: @apps/frontend, @apps/backend

#22 :green_heart: ワークフローを追加
  .github/workflows/checks.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: @type/ci

#21 prisma追加
  apps/backend/.env.sample
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  pnpm-lock.yaml
Labels: @apps/backend

#23 :green_heart: ワークフローにキャッシュのステップを追加
  .github/workflows/checks.yml
Labels: @type/ci

#63 feat: PostgreSQL の Docker を追加
  apps/backend/package.json
  compose.yaml
  postgresql/postgresql.conf
  tools/git/message
Labels: @apps/backend
